$font-2nd: 'Archivo Narrow', sans-serif;
$font-1st: 'Montserrat', sans-serif;

$color-1st: #1DDAE1;
$color-1st-hover: rgb(88, 227, 231);
$color-2nd: rgb(42, 200, 206);
$color-heading: #303030;
$color-text: #767779;
$color-dark: #19161f;
$color-lightgray: #f4f4f4;
